.side {
  background: #b81fb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 160px;
  color: white;
  position: fixed;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList {
  list-style-type: none;
  font-size: 20px;
  padding: 0;
}

.menuTitle {
  width: 160px;
  padding: 10px 0px;
  background: #7a1270;
}

.activeLink {
  background: #7a1270;
  text-decoration: underline;
}