.postContainer {
  width: 750px;
  margin: 0 auto;
}

.innerPostContainer {
  padding: 30px;
  margin: 15px;
  border: 2px solid #b81fb3;
}

.postCommentsContainer {
  display: flex;
  justify-content: space-between;
}

.postComments {
  text-align: left;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.leaveComment {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  text-align: right;
}

.leaveCommentInput {
  outline: none;
  width: 300px;
  margin: 12px 0px;
  padding: 15px;
}