.postContainer {
  width: 700px;
  margin: 0 auto;
}

.innerPostContainer {
  padding: 30px;
  margin: 15px;
  border: 2px solid #b81fb3;
}

.postCommentsContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}