body {
  text-align: center;
}

li {
  padding: 10px;
}

li a {
  text-decoration: none;
  color: white
}

h1, h2, h3 {
  margin: 0px;
  padding: 10px;
}

span {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 15px;
}

input {
  margin: 20px;
  padding: 10px;
  outline: none;
}